<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="navbar navbar-fixed-top navbar-inverse games-header">
        <div class="container"
            <div class="navbar-header">
                dfgdfgdfg
            </div>
        </div>
    </div>

        <div class="container">
            @RenderBody()
        </div>
</body>
</html>
