@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        

        <div class="thumb">
            <img src="~/Images/180x135_apples.gif" />

        </div>

    </div>
    <div class="col-md-4">

    <div class="col-md-4">

    </div>
</div>